*{font-family: 'Open Sans', sans-serif;}
#form-login{margin-top:150px;}
h1.titulo-login{
	color: #fff;
	text-align: center;
	font-size: 140px;
	line-height:68px;
	margin-bottom:70px;
}
.titulo-login > span{font-family: 'Stronger';}

.logo-ic-login{margin-top:20px;margin-left:20px}

.btn-login,.btn-redefinir-senha{
	color:#fff;
	text-transform:uppercase;
	text-decoration:underline;
	padding:10px 20px;
	margin-bottom:10px;
}
.btn-redefinir-senha:hover,.btn-login:hover{
	color:#fff;
	text-transform:uppercase;
	text-decoration:underline;
	border:solid 1px #fff;
	border-radius:20px;
}
@media (max-width:1024px) {
	#form-login{margin-top:50px;}
}
@media (max-width:460px) {
	#form-login{margin-top:10px;}
	h1.titulo-login{margin-bottom:30px;}
}